* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f8fafc;
    color: #222;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: .3s;
}

.menu a:hover {
    color: #38bdf8;
}
.nav-btn {
    padding: 12px 25px;
    border: none;
    background: #38bdf8;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

/* HERO */

.hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e") center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .45);
}
.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 22px;
    margin-bottom: 30px;
}
.search-box {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.search-box input {
    padding: 15px;
    border: none;
    border-radius: 10px;
    min-width: 220px;
}

.search-box button {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background: #38bdf8;
    color: white;
    cursor: pointer;
}
.title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
    color: #0f172a;
}

/* DESTINATIONS */

.destinations {
    padding: 100px 0;
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.destination-card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
    transition: .3s;
}

.destination-card:hover {
    transform: translateY(-10px);
}
.destination-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.destination-card h3 {
    padding: 20px;
    text-align: center;
}